<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>User Repositories</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/styleRepo.css}" rel="stylesheet">
</head>
<body>

<h2>Enter GitHub Username to see Repositories</h2>

<div class="input-container">
    <form th:action="@{/repos}" method="get">
        <label>
            <input type="text" name="username" placeholder="Enter GitHub username" required>
        </label>
        <button type="submit">Get Repositories</button>
    </form>
</div>

<h2 th:if="${username != null}">Repositories for User: <span th:text="${username}">Username</span></h2>

<table th:if="${repos != null}">
    <thead>
    <tr>
        <th>Repository Name</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="repo : ${repos}">
        <td th:text="${repo.repoName}">Repository Name</td>
        <td><a th:href="${repo.url}" th:text="${repo.url}">Repository URL</a></td>
    </tr>
    </tbody>
</table>

<p th:if="${repos == null || repos.isEmpty()}">No repositories found or rate limit exceeded.</p>

</body>
</html>
